.movie-list-container {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.movie-card {
	width: auto;
	height: auto;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 300px);

	background-color: rgb(220, 220, 220);
	margin: 0.5em;
	padding: 1em 0.4em;
	border-radius: 0.4em;
	box-shadow: 3px 3px 8px rgb(121, 121, 121);
	transition: all 0.2s ease-in-out;
}

.movie-card > h2 {
	width: 100%;
	height: 20%;
	text-align: center;
}

.movie-card > div {
	width: 100%;
	height: 80%;
	margin-bottom: 1em;
}

.movie-card > div > * {
	margin-bottom: 0.4em;
}

.movie-card:hover {
	cursor: pointer;
	background-color: rgb(239, 239, 239);
}
